.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-row.grow-first-child > *:first-child {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .flex-row {
    flex-wrap: wrap;
  }
}
