.aside {
  --animate-delay: 0s;
  --animate-duration: 0.5s;
  /* height: 35vh; */
  height: 50%;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(140, 140, 140, 0.282);
  backdrop-filter: blur(10px);
  padding-bottom: 50px;
}
.aside::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 600px) {
  .aside {
    padding-bottom: 0px;
    height: 100%;
  }
}
