.meme {
  margin: auto;
  min-width: 400px;
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}
.meme__img {
  width: 100%;
  object-fit: contain;
}
.meme__titles {
  position: absolute;
  color: #fff;
  text-align: center;
}
.meme__titles.top-text {
  top: 0;
}
.meme__titles.bottom-text {
  bottom: 0;
}
