.input-range {
  display: flex;
  align-items: center;
}
.input-range__input {
  flex-grow: 1;
}
.input-range__span {
  margin-left: 10px;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"] {
  height: 0.4rem;
  border-radius: 10px;
  /* background: linear-gradient(60deg, rgb(186, 62, 165) 10%, #fff 10%); */
}
input[type="range"]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: linear-gradient(40deg, rgb(186, 62, 165), rgb(122, 77, 228));
  cursor: pointer;
}
