.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.general-padding {
  padding: 0.4rem 0.4rem;
}
.bg-gradient {
  background: linear-gradient(40deg, rgb(186, 62, 165), rgb(122, 77, 228));
}
.txt-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
input[type="range"] {
  margin: 1rem 0;
}
.input-txt {
  padding: 1rem;

  border-radius: 10px;
  border: none;
  outline: none;
}
.input-txt:not(:last-child) {
  margin-bottom: 1rem;
}
.edit-section-mg {
  margin: 1rem 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(135, 135, 135, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: linear-gradient(
    40deg,
    rgba(228, 139, 213, 0.521),
    rgba(69, 69, 238, 0.486)
  );
}
